@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-vazirmatn);
}

body {
  font-family: var(--font-vazirmatn), Arial, sans-serif;
}

::selection {
  background: #00e7ff;
  color: #020617;
}

.cosmic-grid {
  background-image:
    radial-gradient(circle at center, rgba(56, 189, 248, 0.12) 1px, transparent 1px),
    linear-gradient(to right, rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 40px 40px, 40px 40px, 40px 40px;
}
